*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.main{
    background: url('./image/123.png') no-repeat;
    
}

.main .header{
    background: rgba(0, 0, 0, 0.5);
}

.main .header .container{
    min-height: 140px;
}

.main .content{
    height: 645px;
}
#logo{
    font-weight: bold;    
}
#logo:hover{

    transform: scale(1.2);
    cursor: pointer;
    transition-duration: 0.5s;
}
#logo span{
    color: #4bcaff;
}
.navbar-nav  .active .border{
    color: #4bcaff !important;
    border-width: 3px !important;
    border-color: #4bcaff !important;
}

.menu li{
    list-style-type: none;
    color: white;
    border-width: 3px !important;
    border-color:  #4bcaff !important;
}

.main .content p{
    font-size: 25px;
    background: rgba(0, 0, 0, 0.3);
}

.service {
    background: #4bcaff;
}
.service img:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition-duration: 0.5s;
}



.service-detail .serviceTitle{
    font-size: 18px;
    font-weight: bold;
}

.main .portfolio{
    background: white;
}


.plus{
    width: 90%; 
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    display: none !important;
}


@media only screen and (max-width: 767px) {
    .plus{
        width: 94%; 
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        display: none !important;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .plus{
        width: 92%; 
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        display: none !important;
    }
  }

.plus:hover {
    display: flex !important;
}

.row img:hover + .plus{
    display: flex !important;
}

.main .video{
    background: #515f67;
}

.main .twitter{
    background: #4bcaff;
}

.main .who{
    background: url("./image/bgphoto.png") no-repeat;
    background-position: center;
    /* height: 50vh; */
    background-size: cover;
}
.who i:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition-duration: 0.5s;
}

.main .contact{
    background: url("./image/Layer1.png") no-repeat;
    background-position: center;
    background-size: cover;
   
}

.main .footer{
    background: #353f47;
}
.contact input{
    width: 540px;
    height: 50px;
    background: rgba(0, 0, 0, 0.0);
    color: white;
}
#message{
    background: rgba(0, 0, 0, 0.0);
    color: white;
    width: 700px;
    height: 200px;
}
.contact button{
    background: #4bcaff;
    width: 400px;
    height: 50px;
}
.footer a{
    font-weight: bold;
    color: #515f67 !important;

} 
.container hr{
    background: white;
    height: 2px;
    width: 60px;
}
#hrPortfolio{
    background: black;
    height: 2px;
    width: 60px;
}




:root {
	--animation-delay: 0;
	--duration: 800ms;
	--iterations: 1;
}


.reveal::after {
	        animation-delay: 0;
	        animation-delay: var(--animation-delay, 2s);
	        animation-iteration-count: 1;
	        animation-iteration-count: var(--iterations, 1);
	        animation-duration: 800ms;
	        animation-duration: var(--duration, 800ms);
	        animation-fill-mode: both;
	        animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal {
	position: relative;
	font-size: 50px;
	animation-name: text;
	color: #FFF;
	white-space: nowrap;
	cursor: default;
	text-transform: uppercase;
	
}

.reveal::after {
		content: "";
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.3);
		        transform: scaleX(0);
		        transform-origin: 0 50%;
		pointer-events: none;
		        animation-name: revealer;
	}



@keyframes text {
	from {
		        clip-path: inset(0 100% 0 0);
	}
	to {
		        clip-path: inset(0 0 0 0);
	}
}




@keyframes revealer {
	
	0%, 50% {
		        transform-origin: 0 50%;
	}
	
	60%, 100% {
		        transform-origin: 100% 50%;		
	}

	
	60% {
		        transform: scaleX(1);
	}
	
	100% {
		        transform: scaleX(0);
	}
}